#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
}

.right.carousel-control, .left.carousel-control {
    display: none;
}

.carousel-item:nth-child(1) {
    background-image: url('images/bgr2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(2) {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(3) {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-caption-image {
    height: auto;
    width: 9.5em;
    padding: 20px;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.6);
    font-size: 1.875rem;
}

#caption-grid {
    display: grid;
}

.grid-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item2 {
    padding: 3rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.bootcamp-image {
    height:auto;
    width:35rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding: 20px;
}

.medium-card {
    height: 10rem;
    width: auto;
    padding: 20px;
}

.express-card {
    height: auto;
    width: 27rem;
    padding: 20px;
}

.small-card {
    height: 7rem;
    width: auto;
    padding: 20px;
}

.work-card {
    padding: 50px;
    margin: auto;
}

.card-title {
    text-align: center;
}

@media (min-width:1px) and (max-width:420px)  {
    .bootcamp-image {
        width: 18rem;
    }

    .carousel-caption-image {
        width: 12rem;
    }

    .grid-item2 {
        padding: 1.5rem;
    }

    #text1-carousel-caption {
        font-size: 1.5rem;
    }

    #text2-carousel-caption {
        font-size: 0.9rem;
    }

    .express-card {
        width: 15rem;
    }
}

@media (min-width:420px) and (max-width:992px) {
    .bootcamp-image {
        width: 25rem;
    }

    #text1-carousel-caption {
        text-align: center;
    }

    #text2-carousel-caption {
        padding: 1rem;
        font-size: 1.1rem;
    }

    .carousel-caption-image {
        width: 15rem;
    }

    .grid-item2 {
        justify-content: center;
    }

    .carousel-caption {
        align-items: center;
    }
}

@media (min-width:992px) {
    .carousel-caption {
        margin-bottom: 15rem;

    }

    .grid-item1 {
        padding-left: 4rem;
    }

    #introCarousel {
        margin-top: -58.59px;
    }

    #text1-carousel-caption {
        text-align: left;
    }

    .grid-item2 {
        justify-content: left;
    }
}

#navbar-icons {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
}

.navbar .nav-link {
    color: #fff !important;
}